<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag "CSS/normalize", :media => "all" %>
    <%= stylesheet_link_tag "CSS/main", :media => "all" %>
    <title>ブログ</title>
</head>
<body>
<h2>ブログを編集する</h2>
<%= render 'form' %>

</body>
</html>